{% extends "adminLTE.html" %}
{% block title %}ATR Trailing Stop Bot{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}
{% block h_common %}
    {% load static %}
  <script type="text/javascript" src="{% static 'js/atr_trailing_stop/index.js' %}"></script>
{% endblock %}
{% block botUrl %}
<li class="nav-item active">
  <a class="nav-link" href="/atr-trailing-stop-bot">ATR Trailing Stop Bot</a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="/atr-trailing-stop-bot/tracking">Tracking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/atr-trailing-stop-bot/snapshot">SnapShot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/atr-trailing-stop-bot/chart">Chart</a>
    </li>
{% endblock %}
{% block v_input %}
    <div class="form-row value-row">
        {% include "components/ex_change_component.html" with n_col=2 label='Exchange' value=data.ex_id %}
        {% include "components/apis_dropdown_component.html" with n_col=2 label='Account' id='api_name' apis=apis %}
        {% include "components/form_input_component.html" with n_col=2 label='Pair' id='pair' v_def='BTC/USDT' value=data.pair %}
        {% include "components/form_input_component.html" with n_col=2 label='Amount' id='amount' v_def='0.1' value=data.amount %}
        {% include "components/form_input_component.html" with n_col=2 label='Fees' id='fees' v_def='0.00015' value=data.fees %}
        {% include "components/toggle_btn_component.html" with n_col=2 label='Loss covering' id='loss_covering' value=data.loss_covering %}
    </div>
    <div class="form-row">
        {% include "components/options_form.html" with n_col='2' label='Mode' id='mode' options=modes %}
        {% include "components/form_input_component.html" with n_col=2 label='Step Amount (%)' id_container='step_amount_container' id='step_amount' v_def='10' value=data.step_amount %}
        {% include "components/form_input_component.html" with n_col=2 label='Trailing margin' id_container='trailing_margin_container' id='trailing_margin' v_def='5' value=data.trailing_margin %}
        {% include "components/form_input_component.html" with n_col=2 label='Min profit' id_container='min_profit_container' id='min_profit' v_def='10' value=data.min_profit %}
    </div>
{% endblock %}
{% block v_action %}
    {% if not data %}
    {% if bot_one < max_bot_one %}

    <button id="btn-start-bot" type="button" class="btn btn-primary col-md-2">
        Start Bot
    </button>
    {% else %}
         <button id="max_bot_running" type="button" class="btn btn-primary col-md-2" title="you have maximum bot running to increase your bot instance contact to admin.">
        Start Bot
    </button>
    <h6>you have maximum bot running pls contact to admin to increase bot instance</h6>
    {% endif %}
{% endif %}
{% if resume %}
    <button id="btn-resume-bot" type="button" class="btn btn-primary col-md-2">
        Resume Bot
    </button>
{% endif %}
<button id="btn-show-stop-bot" type="button" class="btn btn-danger col-md-2">
        Kill Bot
</button>



{% endblock %}
{% block content %}
    {% include "components/log_and_trade_info_component.html" %}
{% endblock %}