{% extends "adminLTE.html" %}
{% load static %}
{% block botUrl %}
<li class="nav-item active">
  <a class="nav-link" href="/support-big-amount-bot">Support Big Amount Bot</a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="/support-big-amount-bot/tracking">Tracking</a>
    </li>
    {% comment %}
    <li class="nav-item">
        <a class="nav-link" href="/support-big-amount-bot/snapshot">SnapShot</a>
    </li>
    {% endcomment %}
{% endblock %}
{% block contentContainer %}


<!-- this will block the usertable-->
{% block user_bot_data %}  {% endblock %}
<!-- this will block the usertable-->


{% block content %}
 <section id="content">
<div class="card">
	<div class="card-header">How To Use Support Big Amount Bot</div>
	<div class="card-body">
		<video style="width:100%;" controls autoplay>
									<source src="{% static 'images/SBA.mp4' %}" type="video/mp4">
								</video>
		<div class="row col-lg-12 mt-3">
		
			<div class="col-lg-6">
			<h4>Input Parameters</h4>
			<p style="line-height:1.7;">
				Exchange: Name of the exchange used<br/>
Account: Name of the account to be used for the exchange<br/>
Pair: Cryptocurrency Trading Pair<br/>
Price: Price of the order. If price is set to 0, the entry price will be determine based on the current order book<br/>
Amount: Size of the order<br/>
Profit: The amount of profit the tool should consider<br/>
PostOnly: Order will be placed as limit maker order (available only to exchanges that support this order type)<br/>
Gap: (available only when PostOnly is OFF)<br/>
Follow Gap: (available only when PostOnly is OFF)<br/>
Stop loss Value: The amount of stop-loss to be consider for closing the open position<br/>
Place Order ST: Auto places Stop-Loss Order when stop-loss condition is triggered. (ON/OFF)<br/>
Place Order Profit: Auto places Take-Profit Order when open order is filled. (ON/OFF)

			</p>
			<h4>Action</h4>
			<p style="line-height:1.7;">
				Place Buy: The tool will place a buy order to the exchange and starts trading.<br/>
Place Sell: The tool will place a sell order to the exchange and starts trading. 

			</p>
			
			</div>
			<div class="col-lg-6">
		<img src="{% static 'images/pic3.jpg' %}" alt="" style="width:100%;border:1px solid #dedede;"  >
		</div>
	</div>
	</div>
</div>
</section>





{% endblock content %}







{% endblock %}
