{% extends "adminLTE.html" %}
{% block title %}BuySell SellBuy Continuously Tool{% endblock %}
{% block head %}
  {{ block.super }}
{% endblock %}
{% block h_common %}
    {% load static %}
  <script type="text/javascript" src="{% static 'js/bs_sb_continuously_tool/index.js' %}"></script>
{% endblock %}
{% block botUrl %}
<li class="nav-item active">
  <a class="nav-link" href="/bs-sb-continuously-tool">BuySell SellBuy Continuously Tool</a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="/bs-sb-continuously-tool/tracking">Tracking</a>
    </li>
    {% comment %}
    <li class="nav-item">
        <a class="nav-link" href="/bs-sb-continuously-tool/snapshot">SnapShot</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/bs-sb-continuously-tool/chart">Chart</a>
    </li>
    {% endcomment %}
{% endblock %}

{% block v_input %}

<h4>BuySell SellBuy Continuously Tool</h4>
<a  href="/bs-sb-continuously-tool/howToUse" target="_blank"><p class="text-right" style="color:#ffc107;">How To Use?</p></a>
    <div class="form-row value-row">
        {% include "components/ex_change_component.html" with n_col=2 label='Exchange' value=data.ex_id %}
        {% include "components/apis_dropdown_component.html" with n_col=2 label='Account' id='api_name' apis=apis %}
        {% include "components/form_input_component.html" with n_col=2 label='Pair' id='pair' v_def='BTC/USDT' value=data.pair %}
        {% include "components/form_input_component.html" with n_col=2 label='Amount' id='amount' v_def='0.1' value=data.amount %}
        {% include "components/form_input_component.html" with n_col=2 label='Profit' id='profit' v_def='0.1' value=data.profit %}
    </div>
    <div class="form-row value-row">
        {% include "components/form_input_component.html" with n_col=2 label='Timer' id='timer' v_def='10' value=data.timer %}
        {% include "components/swith_btn_component.html" with n_col=2 id='postOnly' value=data.postOnly dataOn='ON' dataOff='OFF' label='PostOnly' %}
    </div>
{% endblock %}
{% block another_btn %}
    <section class="card" style="margin-bottom: 20px">
        <div class="card-header">
            ACTION
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <button id="btn-buy-sell" type="button" class="btn bg-success col-md-2" style="margin-right: 20px">
                    BUY/SELL
                </button>
                <button id="btn-sell-buy" type="button" class="btn bg-success col-md-2" style="margin-right: 40px">
                    SELL/BUY
                </button>
                <button id="btn-stop" type="button" class="btn bg-danger col-md-2">
                    STOP
                </button>
            </div>
        </div>
    </section>
{% endblock %}
{% block v_action %}
    {% if not data %}
            {% if bot_eight < max_bot_eight %}

                        <button id="btn-start-bot" type="button" class="btn btn-primary col-md-2">
                            Start Bot
                        </button>

                        {% else %}
                         <button id="max_bot_running" type="button" class="btn btn-primary col-md-2" title="you have maximum bot running to increase your bot instance contact to admin.">
                        Start Bot
                    </button>
                    <h6>you have maximum bot running pls contact to admin to increase bot instance</h6>


            {% endif %}
    {% endif %}

{% if resume %}
    <button id="btn-resume-bot" type="button" class="btn btn-primary col-md-2">
        Resume Bot
    </button>
{% endif %}

<button id="btn-show-stop-bot" type="button" class="btn btn-danger col-md-2">
        Kill Bot
</button>



{% endblock %}
{% block content %}
    {% include "components/log_and_trade_info_component.html" %}
{% endblock %}
