{% extends "adminLTE.html" %}
{% block title %} Support Trailing Stop Bot {% endblock %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block h_common %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/support_trailing_stop/index.js' %}"></script>
{% endblock %}
{% block botUrl %}
    <li class="nav-item active">
        <a class="nav-link" href="/support-trailing-stop-bot">Support Trailing Stop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/support-trailing-stop-bot/tracking">Tracking</a>
    </li>
    {% comment %}
    <li class="nav-item">
        <a class="nav-link" href="/support-trailing-stop-bot/snapshot">SnapShot</a>
    </li>
    {% endcomment %}
{% endblock %}
{% block v_input %}
<h4>Support Trailing Stop</h4>
<a  href="/support-trailing-stop-bot/HowToUseSupportTrailingBot" target="_blank"><p class="text-right" style="color:#ffc107;">How To Use?</p></a>
    <div class="form-row value-row">
        {% include "../components/ex_change_component.html" with n_col=2 label='Exchange' value=data.ex_id %}
        {% include "../components/apis_dropdown_component.html" with n_col=2 label='Account' id='api_name' apis=apis %}
        {% include "../components/form_input_component.html" with n_col=2 label='Pair' id='pair' v_def='BTC/USDT' value=data.pair %}
        {% include "../components/form_input_component.html" with n_col=2 label='Amount' id='amount' v_def='0.1' value=data.amount %}

        {% include "../components/form_input_component.html" with n_col=2 label='Entry Price' id='entry_price' v_def='0' value=data.entry_price %}
        {% include "../components/form_input_component.html" with n_col=2 label='Min Profit' id='min_profit' v_def='1' value=data.min_profit %}
        {% include "../components/form_input_component.html" with n_col=2 label='Trailing Margin' id='trailing_margin' v_def='0.15' value=data.trailing_margin %}
        {% include "../components/form_input_component.html" with n_col=2 label='Cancel Threshold (%)' id='cancel_threshold' v_def='1' value=data.cancel_threshold %}
        {% include "components/swith_btn_component.html" with n_col=2 id='postOnly' value=data.postOnly dataOn='ON' dataOff='OFF' label='PostOnly' %}
        {% include "components/form_input_component.html" with n_col=2 label='Gap' id_container='gap_container' id='gap' v_def='0.01' value=data.gap %}
        {% include "components/form_input_component.html" with n_col=2 label='Follow Gap' id_container='follow_gap_container' id='follow_gap' v_def='0' value=data.follow_gap %}

    </div>
{% endblock %}
{% block another_btn %}
    <section class="card" style="margin: 20px">
        <div class="card-header">
            ACTION
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <button id="btn-place-buy" type="button" class="btn bg-success col-md-2 mr-2">Place Buy
                </button>
                <button id="btn-place-sell" type="button" class="btn bg-danger col-md-2">Place Sell
                </button>
            </div>
        </div>
    </section>
{% endblock %}
{% block v_action %}
    {% if not data %}
    {% if bot_three < max_bot_three %}

    <button id="btn-start-bot" type="button" class="btn btn-primary col-md-2">
        Start Bot
    </button>
    {% else %}
         <button id="max_bot_running" type="button" class="btn btn-primary col-md-2" title="you have maximum bot running to increase your bot instance contact to admin.">
        Start Bot
    </button>
    <h6>you have maximum bot running pls contact to admin to increase bot instance</h6>
    {% endif %}
{% endif %}
{% if resume %}
    <button id="btn-resume-bot" type="button" class="btn btn-primary col-md-2">
        Resume Bot
    </button>
{% endif %}
<button id="btn-show-stop-bot" type="button" class="btn btn-danger col-md-2">
        Kill Bot
</button>



{% endblock %}
{% block content %}
    {% include "components/log_and_trade_info_component.html" %}
{% endblock %}
