{% extends 'adminLTE.html' %}


{% block contentContainer %}
<!-- this will block the usertable-->
{% block user_bot_data %}  {% endblock %}
<!-- this will block the usertable-->
{% block content %}

<section id="content">
    <div class="card">
        <div class="card-header">



<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        

        
  <h1>Invalid 2FA please provide correct 2FA from google authenticator.</h1>
  
   
  



      </div>
    </div>
  </div>
    </div>
    </div>
 
</section>




  
  
  {% endblock content %}


{% endblock %}
