
							 <!-- Nav tabs -->
							<ul id="tabs" class="nav nav-pills" role="tablist">
							  <li role="presentation"><a href="#all_bot" role="tab" data-toggle="tab" class="active" aria-selected="true">AllBot</a></li>
							  <li role="presentation"><a href="#bot1" role="tab" data-toggle="tab"  aria-selected="false">cancel and avg tool</a></li>
							  <li role="presentation"><a href="#bot2" role="tab" data-toggle="tab"  aria-selected="false">big amount bot</a></li>
							   <li role="presentation"><a href="#bot3" role="tab" data-toggle="tab"  aria-selected="false">Support Trailing stop bot</a></li>
							   <li role="presentation"><a href="#bot4" role="tab" data-toggle="tab"  aria-selected="true">Two way Bot</a></li>
							  <li role="presentation"><a href="#bot5" role="tab" data-toggle="tab"  aria-selected="false">Atr Trailing stop bot</a></li>
							  <li role="presentation"><a href="#bot6" role="tab" data-toggle="tab"  aria-selected="false">Two way sp bot</a></li>
							   <li role="presentation"><a href="#bot7" role="tab" data-toggle="tab"  aria-selected="false">Multi box bot</a></li>
							   <li role="presentation"><a href="#bot8" role="tab" data-toggle="tab"  aria-selected="false">bssb continius tool</a></li>
							   
							</ul>
							
							<div class="tab-content">
							  <div role="tabpanel" class="tab-pane fade in active show" id="all_bot">
								<div class="title" style="display:none"><span style="float:right;"><input type="submit" value="Export" class="btn btn-info  mb-1"></span></div>
								<div class="table-responsive"> 
								 <table class="table table-bordered">
								  <thead>
									<tr>
										<th>Date</th>
										<th>Pair</th>
										<th>Type</th>
										<th>Side</th>
										<th>API Name</th>
										<th>Price</th>
										<th>Order_Id</th>
										<th>Amount</th>
										<th>Ex_Id</th>
										<th>Bot_Name</th>
										<th>Status</th>
									</tr>
								  </thead>
								  <tbody>
								  	<tr>
								  	  <td id="all_row1_date">Na</td>
									  <td id="all_row1_pair">Na</td>
									  <td id="all_row1_type">Na</td>
									  <td id="all_row1_side">Na</td>
									  <td id="all_row1_apiname">Na</td>
									  <td id="all_row1_price">Na</td>
									  <td id="all_row1_Order_Id">Na</td>
									  <td id="all_row1_amount">Na</td>
									  <td id="all_row1_ExId">Na</td>
									  <td id="all_row1_Bot_Name">Na</td>
									  <td id="all_row1_status">Na</td>
									</tr>
									<tr>
									  <td id="all_row2_date">Na</td>
									  <td id="all_row2_pair">Na</td>
									  <td id="all_row2_type">Na</td>
									  <td id="all_row2_side">Na</td>
									  <td id="all_row2_apiname">Na</td>
									  <td id="all_row2_price">Na</td>
									  <td id="all_row2_Order_Id">Na</td>
									  <td id="all_row2_amount">Na</td>
									  <td id="all_row2_ExId">Na</td>
									  <td id="all_row2_Bot_Name">NA</td>
									  <td id="all_row2_status">Na</span></td>
									</tr>
									<tr>
									  <td id="all_row3_date">Na</td>
									  <td id="all_row3_pair">Na</td>
									  <td id="all_row3_type">Na</td>
									  <td id="all_row3_side">Na</td>
									  <td id="all_row3_apiname">Na</td>
									  <td id="all_row3_price">Na</td>
									  <td id="all_row3_Order_Id">Na</td>
									  <td id="all_row3_amount">Na</td>
									  <td id="all_row3_ExId">Na</td>
									  <td id="all_row3_Bot_Name">Na</td>
									  <td id="all_row3_status">Na</td>
									</tr>
									
									
								  </tbody>
								</table>
							  </div>
								   
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="bot1">
								
							  		 <div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>accu_amount</th>
												<th>amount</th>                    
												<th>api_name</th>
												<th>avg_price</th>
												<th>creation_time</th>
												<th>ex_id</th>
												<th>input_pair</th>
												<th>input_side</th>
												<th>input_signal</th>
												<th>is_using</th>
												<th>pair</th>
												<th>Order_id</th>
												<th>price</th>
												<th>price_type</th>
												<th>side</th>
												
												<th>uuid</th>
												<th>order_status</th>	
												
											</tr>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot1_row1_date">NA</td>
											  <td id="bot1_row1_accu_amount">NA</td>
											  <td id="bot1_row1_amount">NA</td>
											  <td id="bot1_row1_api_name">NA</td>
											  <td id="bot1_row1_avg_price">NA</td>
											  <td id="bot1_row1_creation_time">NA</td>
											  <td id="bot1_row1_ex_id">NA</td>
											  <td id="bot1_row1_input_pair">NA</td>
											  <td id="bot1_row1_input_side">Na</td>
											  <td id="bot1_row1_input_signal">NA</td>
											  <td id="bot1_row1_is_using">NA</td>							
											  <td id="bot1_row1_pair">NA</td>
											  <td id="bot1_row1_order_id">NA</td>
											  <td id="bot1_row1_price">NA</td>
											  <td id="bot1_row1_price_type">NA</td>
											  <td id="bot1_row1_side">NA</td>
											  
											  <td id="bot1_row1_uuid">NA</td>
											  <td id="bot1_row1_order_status">NA</td>
											  </tr>
											<tr>
											  <td id="bot1_row2_date">NA</td>
											  <td id="bot1_row2_accu_amount">NA</td>
											  <td id="bot1_row2_amount">NA</td>
											  <td id="bot1_row2_api_name">NA</td>
											  <td id="bot1_row2_avg_price">NA</td>
											  <td id="bot1_row2_creation_time">NA</td>
											  <td id="bot1_row2_ex_id">NA</td>
											  <td id="bot1_row2_input_pair">NA</td>
											  <td id="bot1_row2_input_side">Na</td>
											  <td id="bot1_row2_input_signal">NA</td>
											  <td id="bot1_row2_is_using">NA</td>							
											  <td id="bot1_row2_pair">NA</td>
											  <td id="bot1_row2_order_id">NA</td>
											  <td id="bot1_row2_price">NA</td>
											  <td id="bot1_row2_price_type">NA</td>
											  <td id="bot1_row2_side">NA</td>
											 
											  <td id="bot1_row2_uuid">NA</td>
											  <td id="bot1_row2_order_status">NA</td>
											</tr>
											<tr>
											  
											  <td id="bot1_row3_date">NA</td>
											  <td id="bot1_row3_accu_amount">NA</td>
											  <td id="bot1_row3_amount">NA</td>
											  <td id="bot1_row3_api_name">NA</td>
											  <td id="bot1_row3_avg_price">NA</td>
											  <td id="bot1_row3_creation_time">NA</td>
											  <td id="bot1_row3_ex_id">NA</td>
											  <td id="bot1_row3_input_pair">NA</td>
											  <td id="bot1_row3_input_side">Na</td>
											  <td id="bot1_row3_input_signal">NA</td>
											  <td id="bot1_row3_is_using">NA</td>							
											  <td id="bot1_row3_pair">NA</td>
											  <td id="bot1_row3_order_id">NA</td>
											  <td id="bot1_row3_price">NA</td>
											  <td id="bot1_row3_price_type">NA</td>
											  <td id="bot1_row3_side">NA</td>
											 
											  <td id="bot1_row3_uuid">NA</td>
											  <td id="bot1_row3_order_status">NA</td>
											</tr>
										  </tbody>
										</table>
									  </div>
							  
							  
							  </div>
							  <div role="tabpanel" class="tab-pane fade" id="bot2">
									
									<div class="table-responsive"> 
										<table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>amount</th>
												<th>api_name</th>
												<th>average</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>follow_gap</th>
												<th>gap</th>
												<th>order_id</th>
												<th>pair</th>
												<th>place_order_profit</th>
												<th>position</th>
												<th>postOnly</th>
												<th>price</th>
												<th>profit</th>
												<th>stop_loss</th>
												<th>symbol</th>
												<th>trailing_margin</th>
												<th>uuid</th>
												<th>Status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot2_row1_date">NA</td>
											  <td id="bot2_row1_amount">NA</td>
											  <td id="bot2_row1_api_name">NA</td>
											  <td id="bot2_row1_average">NA</td>
											  <td id="bot2_row1_ex_id">NA</td>
											  <td id="bot2_row1_filled">NA</td>
											  <td id="bot2_row1_follow_gap">NA</td>
											  <td id="bot2_row1_gap">NA</td>
											  <td id="bot2_row1_order_id">NA</td>
											  <td id="bot2_row1_pair">NA</td>
											  <td id="bot2_row1_place_order_profit">NA</td>
											  <td id="bot2_row1_position">NA</td>
											  <td id="bot2_row1_postOnly">NA</td>
											  <td id="bot2_row1_price">NA</td>
											  <td id="bot2_row1_profit">NA</td>
											  <td id="bot2_row1_stop_loss">NA</td>
											  <td id="bot2_row1_symbol">NA</td>
											  <td id="bot2_row1_trailing_margin">NA</td>
											 
											  <td id="bot2_row1_uuid">NA</td>
											
											  <td id="bot2_row1_status"><span style="background:#009900; padding-left:5px; padding-right:5px; border-radius:3px; color:#fff; ">Filled</span></td>
											</tr>
											<tr>
											  <td id="bot2_row2_date">NA</td>
											  <td id="bot2_row2_amount">NA</td>
											  <td id="bot2_row2_api_name">NA</td>
											  <td id="bot2_row2_average">NA</td>
											  <td id="bot2_row2_ex_id">NA</td>
											  <td id="bot2_row2_filled">NA</td>
											  <td id="bot2_row2_follow_gap">NA</td>
											  <td id="bot2_row2_gap">NA</td>
											  <td id="bot2_row2_order_id">NA</td>
											  <td id="bot2_row2_pair">NA</td>
											  <td id="bot2_row2_place_order_profit">NA</td>
											  <td id="bot2_row2_position">NA</td>
											  <td id="bot2_row2_postOnly">NA</td>
											  <td id="bot2_row2_price">NA</td>
											  <td id="bot2_row2_profit">NA</td>
											  <td id="bot2_row2_stop_loss">NA</td>
											  <td id="bot2_row2_symbol">NA</td>
											  <td id="bot2_row2_trailing_margin">NA</td>
											 
											  <td id="bot2_row2_uuid">NA</td>
											
											  <td id="bot2_row2_status"><span style="background:#009900; padding-left:5px; padding-right:5px; border-radius:3px; color:#fff; ">Filled</span></td>
											</tr>
											<tr>
											  <td id="bot2_row3_date">NA</td>
											  <td id="bot2_row3_amount">NA</td>
											  <td id="bot2_row3_api_name">NA</td>
											  <td id="bot2_row3_average">NA</td>
											  <td id="bot2_row3_ex_id">NA</td>
											  <td id="bot2_row3_filled">NA</td>
											  <td id="bot2_row3_follow_gap">NA</td>
											  <td id="bot2_row3_gap">NA</td>
											  <td id="bot2_row3_order_id">NA</td>
											  <td id="bot2_row3_pair">NA</td>
											  <td id="bot2_row3_place_order_profit">NA</td>
											  <td id="bot2_row3_position">NA</td>
											  <td id="bot2_row3_postOnly">NA</td>
											  <td id="bot2_row3_price">NA</td>
											  <td id="bot2_row3_profit">NA</td>
											  <td id="bot2_row3_stop_loss">NA</td>
											  <td id="bot2_row3_symbol">NA</td>
											  <td id="bot2_row3_trailing_margin">NA</td>
											 
											  <td id="bot2_row3_uuid">NA</td>
											
											  <td id="bot2_row3_status"><span style="background:#009900; padding-left:5px; padding-right:5px; border-radius:3px; color:#fff; ">Filled</span></td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							   <div role="tabpanel" class="tab-pane fade" id="bot3">
									
									<div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>amount</th>
												<th>api_name</th>
												<th>average</th>
												<th>cancel_threshold</th>
												<th>entry_price</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>follow_gap</th>
												<th>gap</th>
												<th>input_amount</th>
												<th>input_pair</th>
												<th>min_profit</th>
												<th>order_id</th>
												<th>position</th>
												<th>postOnly</th>
												<th>price</th>
												<th>symbol</th>
												<th>uuid</th>
												<th>status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot3_row1_date">NA</td>
											  <td id="bot3_row1_amount">NA</td>
											  <td id="bot3_row1_api_name">NA</td>
											  <td id="bot3_row1_average">NA</td>
											  <td id="bot3_row1_cancel_threshold">NA</td>
											  <td id="bot3_row1_entry_price">NA</td>
											  <td id="bot3_row1_ex_id">NA</td>
											  <td id="bot3_row1_filled">NA</td>
											  <td id="bot3_row1_follow_gap">NA</td>
											  <td id="bot3_row1_gap">NA</td>
											  <td id="bot3_row1_input_amount">NA</td>
											  <td id="bot3_row1_input_pair">NA</td>
											  <td id="bot3_row1_min_profit">NA</td>
											  <td id="bot3_row1_order_id">NA</td>
											  <td id="bot3_row1_position">NA</td>
											  <td id="bot3_row1_postOnly">NA</td>
											  <td id="bot3_row1_price">NA</td>
											  <td id="bot3_row1_symbol">NA</td>
											  <td id="bot3_row1_uuid">NA</td>
											  <td id="bot3_row1_status">NA</td>
											  

											  
											  
											</tr>
											<tr>
											  <td id="bot3_row2_date">NA</td>
											  <td id="bot3_row2_amount">NA</td>
											  <td id="bot3_row2_api_name">NA</td>
											  <td id="bot3_row2_average">NA</td>
											  <td id="bot3_row2_cancel_threshold">NA</td>
											  <td id="bot3_row2_entry_price">NA</td>
											  <td id="bot3_row2_ex_id">NA</td>
											  <td id="bot3_row2_filled">NA</td>
											  <td id="bot3_row2_follow_gap">NA</td>
											  <td id="bot3_row2_gap">NA</td>
											  <td id="bot3_row2_input_amount">NA</td>
											  <td id="bot3_row2_input_pair">NA</td>
											  <td id="bot3_row2_min_profit">NA</td>
											  <td id="bot3_row2_order_id">NA</td>
											  <td id="bot3_row2_position">NA</td>
											  <td id="bot3_row2_postOnly">NA</td>
											  <td id="bot3_row2_price">NA</td>
											  <td id="bot3_row2_symbol">NA</td>
											  <td id="bot3_row2_uuid">NA</td>
											  <td id="bot3_row2_status">NA</td>
											</tr>
											<tr>
											  <td id="bot3_row3_date">NA</td>
											  <td id="bot3_row3_amount">NA</td>
											  <td id="bot3_row3_api_name">NA</td>
											  <td id="bot3_row3_average">NA</td>
											  <td id="bot3_row3_cancel_threshold">NA</td>
											  <td id="bot3_row3_entry_price">NA</td>
											  <td id="bot3_row3_ex_id">NA</td>
											  <td id="bot3_row3_filled">NA</td>
											  <td id="bot3_row3_follow_gap">NA</td>
											  <td id="bot3_row3_gap">NA</td>
											  <td id="bot3_row3_input_amount">NA</td>
											  <td id="bot3_row3_input_pair">NA</td>
											  <td id="bot3_row3_min_profit">NA</td>
											  <td id="bot3_row3_order_id">NA</td>
											  <td id="bot3_row3_position">NA</td>
											  <td id="bot3_row3_postOnly">NA</td>
											  <td id="bot3_row3_price">NA</td>
											  <td id="bot3_row3_symbol">NA</td>
											  <td id="bot3_row3_uuid">NA</td>
											  <td id="bot3_row3_status">NA</td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							   <div role="tabpanel" class="tab-pane fade" id="bot4">
								
									<div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>amount</th>
												<th>api_name1</th>
												<th>api_name2</th>
												<th>average</th>
												<th>ex_id1</th>
												<th>ex_id2</th>
												<th>filled</th>
												<th>follow_gap</th>
												<th>follow_market</th>
												<th>gap</th>
												<th>input_price</th>
												<th>is_parallel</th>
												<th>min_profit</th>
												<th>order_id</th>
												<th>position</th>
												<th>postOnly</th>
												<th>price</th>
												<th>profit</th>
												<th>symbol</th>
												<th>trailing_margin</th>
												<th>uuid</th>
												<th>status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot4_row1_date">NA</td>
											  <td id="bot4_row1_amount">NA</td>
											  <td id="bot4_row1_api_name1">NA</td>
											  <td id="bot4_row1_api_name2">NA</td>
											  <td id="bot4_row1_average">NA</td>
											  <td id="bot4_row1_ex_id1">NA</td>
											  <td id="bot4_row1_ex_id2">NA</td>
											  <td id="bot4_row1_filled">NA</td>
											  <td id="bot4_row1_follow_gap">NA</td>
											  <td id="bot4_row1_follow_market">NA</td>
											  <td id="bot4_row1_gap">NA</td>
											  <td id="bot4_row1_input_price">NA</td>
											  <td id="bot4_row1_is_parallel">NA</td>
											  <td id="bot4_row1_min_profit">NA</td>
											  <td id="bot4_row1_order_id">NA</td>
											  <td id="bot4_row1_position">NA</td>
											  <td id="bot4_row1_postOnly">NA</td>
											  <td id="bot4_row1_price">NA</td>
											  <td id="bot4_row1_profit">NA</td>
											  <td id="bot4_row1_symbol">NA</td>
											  <td id="bot4_row1_trailing_margin">NA</td>
											  <td id="bot4_row1_uuid">NA</td>
											  <td id="bot4_row1_status">NA</td>
											</tr>
											<tr>
											  <td id="bot4_row2_date">NA</td>
											  <td id="bot4_row2_amount">NA</td>
											  <td id="bot4_row2_api_name1">NA</td>
											  <td id="bot4_row2_api_name2">NA</td>
											  <td id="bot4_row2_average">NA</td>
											  <td id="bot4_row2_ex_id1">NA</td>
											  <td id="bot4_row2_ex_id2">NA</td>
											  <td id="bot4_row2_filled">NA</td>
											  <td id="bot4_row2_follow_gap">NA</td>
											  <td id="bot4_row2_follow_market">NA</td>
											  <td id="bot4_row2_gap">NA</td>
											  <td id="bot4_row2_input_price">NA</td>
											  <td id="bot4_row2_is_parallel">NA</td>
											  <td id="bot4_row2_min_profit">NA</td>
											  <td id="bot4_row2_order_id">NA</td>
											  <td id="bot4_row2_position">NA</td>
											  <td id="bot4_row2_postOnly">NA</td>
											  <td id="bot4_row2_price">NA</td>
											  <td id="bot4_row2_profit">NA</td>
											  <td id="bot4_row2_symbol">NA</td>
											  <td id="bot4_row2_trailing_margin">NA</td>
											  <td id="bot4_row2_uuid">NA</td>
											  <td id="bot4_row2_status">NA</td>
											</tr>
											<tr>
											  <td id="bot4_row3_date">NA</td>
											  <td id="bot4_row3_amount">NA</td>
											  <td id="bot4_row3_api_name1">NA</td>
											  <td id="bot4_row3_api_name2">NA</td>
											  <td id="bot4_row3_average">NA</td>
											  <td id="bot4_row3_ex_id1">NA</td>
											  <td id="bot4_row3_ex_id2">NA</td>
											  <td id="bot4_row3_filled">NA</td>
											  <td id="bot4_row3_follow_gap">NA</td>
											  <td id="bot4_row3_follow_market">NA</td>
											  <td id="bot4_row3_gap">NA</td>
											  <td id="bot4_row3_input_price">NA</td>
											  <td id="bot4_row3_is_parallel">NA</td>
											  <td id="bot4_row3_min_profit">NA</td>
											  <td id="bot4_row3_order_id">NA</td>
											  <td id="bot4_row3_position">NA</td>
											  <td id="bot4_row3_postOnly">NA</td>
											  <td id="bot4_row3_price">NA</td>
											  <td id="bot4_row3_profit">NA</td>
											  <td id="bot4_row3_symbol">NA</td>
											  <td id="bot4_row3_trailing_margin">NA</td>
											  <td id="bot4_row3_uuid">NA</td>
											  <td id="bot4_row3_status">NA</td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							   <div role="tabpanel" class="tab-pane fade" id="bot5">
									
									<div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>api_name</th>
												<th>average</th>
												<th>bot_amount</th>
												<th>bot_price</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>input_amount</th>
												<th>input_base_amount</th>
												<th>input_fees</th>
												<th>input_price</th>
												<th>input_profit</th>
												<th>input_trailing_margin</th>
												<th>order_id</th>
												<th>order_trl_margin</th>
												<th>position</th>
												<th>symbol</th>
												<th>trade_id</th>
												<th>uuid</th>
												<th>status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot5_row1_date">NA</td>
											  <td id="bot5_row1_api_name">NA</td>
											  <td id="bot5_row1_average">NA</td>
											  <td id="bot5_row1_bot_amount">NA</td>
											  <td id="bot5_row1_bot_price">NA</td>
											  <td id="bot5_row1_ex_id">NA</td>
											  <td id="bot5_row1_filled">NA</td>
											  <td id="bot5_row1_input_amount">NA</td>
											  <td id="bot5_row1_input_base_amount">NA</td>
											  <td id="bot5_row1_input_fees">NA</td>
											  <td id="bot5_row1_input_price">NA</td>
											  <td id="bot5_row1_input_profit">NA</td>
											  <td id="bot5_row1_input_input_trailing_margin">NA</td>
											  <td id="bot5_row1_input_order_id">NA</td>
											  <td id="bot5_row1_input_order_trl_margin">NA</td>
											  <td id="bot5_row1_position">NA</td>
											  <td id="bot5_row1_symbol">NA</td>
											  <td id="bot5_row1_trade_id">NA</td>
											  <td id="bot5_row1_uuid">NA</td>
											  <td id="bot5_row1_status">NA</td>
											  
											<tr>
											  <td id="bot5_row2_date">NA</td>
											  <td id="bot5_row2_api_name">NA</td>
											  <td id="bot5_row2_average">NA</td>
											  <td id="bot5_row2_bot_amount">NA</td>
											  <td id="bot5_row2_bot_price">NA</td>
											  <td id="bot5_row2_ex_id">NA</td>
											  <td id="bot5_row2_filled">NA</td>
											  <td id="bot5_row2_input_amount">NA</td>
											  <td id="bot5_row2_input_base_amount">NA</td>
											  <td id="bot5_row2_input_fees">NA</td>
											  <td id="bot5_row2_input_price">NA</td>
											  <td id="bot5_row2_input_profit">NA</td>
											  <td id="bot5_row2_input_input_trailing_margin">NA</td>
											  <td id="bot5_row2_input_order_id">NA</td>
											  <td id="bot5_row2_input_order_trl_margin">NA</td>
											  <td id="bot5_row2_position">NA</td>
											  <td id="bot5_row2_symbol">NA</td>
											  <td id="bot5_row2_trade_id">NA</td>
											  <td id="bot5_row2_uuid">NA</td>
											  <td id="bot5_row2_status">NA</td>
											</tr>
											<tr>
											  <td id="bot5_row3_date">NA</td>
											  <td id="bot5_row3_api_name">NA</td>
											  <td id="bot5_row3_average">NA</td>
											  <td id="bot5_row3_bot_amount">NA</td>
											  <td id="bot5_row3_bot_price">NA</td>
											  <td id="bot5_row3_ex_id">NA</td>
											  <td id="bot5_row3_filled">NA</td>
											  <td id="bot5_row3_input_amount">NA</td>
											  <td id="bot5_row3_input_base_amount">NA</td>
											  <td id="bot5_row3_input_fees">NA</td>
											  <td id="bot5_row3_input_price">NA</td>
											  <td id="bot5_row3_input_profit">NA</td>
											  <td id="bot5_row3_input_input_trailing_margin">NA</td>
											  <td id="bot5_row3_input_order_id">NA</td>
											  <td id="bot5_row3_input_order_trl_margin">NA</td>
											  <td id="bot5_row3_position">NA</td>
											  <td id="bot5_row3_symbol">NA</td>
											  <td id="bot5_row3_trade_id">NA</td>
											  <td id="bot5_row3_uuid">NA</td>
											  <td id="bot5_row3_status">NA</td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							   <div role="tabpanel" class="tab-pane fade" id="bot6">
									
									<div class="table-responsive"> 
										<table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>api_name</th>
												<th>average</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>follow_gap</th>
												<th>follow_market</th>
												<th>gap</th>
												<th>input_amount</th>
												<th>min_profit</th>
												<th>order_amount</th>
												<th>order_id</th>
												<th>ori_amount</th>
												<th>ori_price</th>
												<th>pair2</th>
												<th>pair_first</th>
												<th>pair_symbol</th>
												<th>position</th>
												<th>postOnly</th>
												<th>price</th>
												<th>side</th>
												<th>symbol</th>
												<th>trailing_margin</th>
												<th>uuid</th>
												<th>Status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot6_row1_order_time">NA</td>
											  <td id="bot6_row1_api_name">NA</td>
											  <td id="bot6_row1_average">NA</td>
											  <td id="bot6_row1_ex_id">NA</td>
											  <td id="bot6_row1_filled">NA</td>
											  <td id="bot6_row1_follow_gap">NA</td>
											  <td id="bot6_row1_follow_market">NA</td>
											  <td id="bot6_row1_gap">NA</td>
											  <td id="bot6_row1_input_amount">NA</td>
											  <td id="bot6_row1_min_profit">NA</td>
											  <td id="bot6_row1_order_amount">NA</td>
											  <td id="bot6_row1_order_id">NA</td>
											  <td id="bot6_row1_ori_amount">NA</td>
											  <td id="bot6_row1_ori_price">NA</td>
											  <td id="bot6_row1_pair2">NA</td>
											  <td id="bot6_row1_pair_first">NA</td>
											  <td id="bot6_row1_pair_symbol">NA</td>
											  <td id="bot6_row1_position">NA</td>
											  <td id="bot6_row1_postOnly">NA</td>
											  <td id="bot6_row1_price">NA</td>
											  <td id="bot6_row1_side">NA</td>
											  <td id="bot6_row1_symbol">NA</td>
											  <td id="bot6_row1_trailing_margin">NA</td>
											  <td id="bot6_row1_uuid">NA</td>
											  <td id="bot6_row1_status">NA</td>
											  
											</tr>
											<tr>
											  <td id="bot6_row2_order_time">NA</td>
											  <td id="bot6_row2_api_name">NA</td>
											  <td id="bot6_row2_average">NA</td>
											  <td id="bot6_row2_ex_id">NA</td>
											  <td id="bot6_row2_filled">NA</td>
											  <td id="bot6_row2_follow_gap">NA</td>
											  <td id="bot6_row2_follow_market">NA</td>
											  <td id="bot6_row2_gap">NA</td>
											  <td id="bot6_row2_input_amount">NA</td>
											  <td id="bot6_row2_min_profit">NA</td>
											  <td id="bot6_row2_order_amount">NA</td>
											  <td id="bot6_row2_order_id">NA</td>
											  <td id="bot6_row2_ori_amount">NA</td>
											  <td id="bot6_row2_ori_price">NA</td>
											  <td id="bot6_row2_pair2">NA</td>
											  <td id="bot6_row2_pair_first">NA</td>
											  <td id="bot6_row2_pair_symbol">NA</td>
											  <td id="bot6_row2_position">NA</td>
											  <td id="bot6_row2_postOnly">NA</td>
											  <td id="bot6_row2_price">NA</td>
											  <td id="bot6_row2_side">NA</td>
											  <td id="bot6_row2_symbol">NA</td>
											  <td id="bot6_row2_trailing_margin">NA</td>
											  <td id="bot6_row2_uuid">NA</td>
											  <td id="bot6_row2_status">NA</td>
											</tr>
											<tr>
											  <td id="bot6_row3_order_time">NA</td>
											  <td id="bot6_row3_api_name">NA</td>
											  <td id="bot6_row3_average">NA</td>
											  <td id="bot6_row3_ex_id">NA</td>
											  <td id="bot6_row3_filled">NA</td>
											  <td id="bot6_row3_follow_gap">NA</td>
											  <td id="bot6_row3_follow_market">NA</td>
											  <td id="bot6_row3_gap">NA</td>
											  <td id="bot6_row3_input_amount">NA</td>
											  <td id="bot6_row3_min_profit">NA</td>
											  <td id="bot6_row3_order_amount">NA</td>
											  <td id="bot6_row3_order_id">NA</td>
											  <td id="bot6_row3_ori_amount">NA</td>
											  <td id="bot6_row3_ori_price">NA</td>
											  <td id="bot6_row3_pair2">NA</td>
											  <td id="bot6_row3_pair_first">NA</td>
											  <td id="bot6_row3_pair_symbol">NA</td>
											  <td id="bot6_row3_position">NA</td>
											  <td id="bot6_row3_postOnly">NA</td>
											  <td id="bot6_row3_price">NA</td>
											  <td id="bot6_row3_side">NA</td>
											  <td id="bot6_row3_symbol">NA</td>
											  <td id="bot6_row3_trailing_margin">NA</td>
											  <td id="bot6_row3_uuid">NA</td>
											  <td id="bot6_row3_status">NA</td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							   <div role="tabpanel" class="tab-pane fade" id="bot7">
									
									<div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>amount</th>
												<th>api_name</th>
												<th>average</th>
												<th>balance_box_amount</th>
												<th>balance_box_count</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>follow_balance_box_amount</th>
												<th>follow_balance_box_count</th>
												<th>follow_balance_box_follow_gap</th>
												<th>follow_balance_box_gap</th>
												<th>follow_balance_box_postOnly</th>
												<th>follow_balance_box_profit</th>
												<th>follow_balance_box_step</th>
												<th>follow_balance_box_time</th>
												<th>follow_track_box_amount</th>
												<th>follow_track_box_follow_gap</th>
												<th>follow_track_box_gap</th>
												<th>follow_track_box_postOnly</th>
												<th>inti_box_buy_price</th>
												<th>inti_box_sell_price</th>
												<th>order_id</th>
												<th>pair</th>
												<th>position</th>
												<th>price</th>
												<th>symbol</th>
												<th>uuid</th>
												<th>status</th>
												
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot7_row1_ts_time"></td>
											  <td id="bot7_row1_amount"></td>
											  <td id="bot7_row1_api_name"></td>
											  <td id="bot7_row1_average"></td>
											  <td id="bot7_row1_balance_box_amount"></td>
											  <td id="bot7_row1_balance_box_count"></td>
											  <td id="bot7_row1_ex_id"></td>
											  <td id="bot7_row1_filled"></td>
											  <td id="bot7_row1_follow_balance_box_amount"></td>
											  <td id="bot7_row1_follow_balance_box_count"></td>
											  <td id="bot7_row1_follow_balance_box_follow_gap"></td>
											  <td id="bot7_row1_follow_balance_box_gap"></td>
											  <td id="bot7_row1_follow_balance_box_postOnly"></td>
											  <td id="bot7_row1_follow_balance_box_profit"></td>
											  <td id="bot7_row1_follow_balance_box_step"></td>
											  <td id="bot7_row1_follow_balance_box_time"></td>
											  <td id="bot7_row1_follow_track_box_amount"></td>
											  <td id="bot7_row1_follow_track_box_follow_gap"></td>
											  <td id="bot7_row1_follow_track_box_gap"></td>
											  <td id="bot7_row1_follow_track_box_postOnly"></td>
											  <td id="bot7_row1_inti_box_buy_price"></td>
											  <td id="bot7_row1_inti_box_sell_price"></td>
											  <td id="bot7_row1_order_id"></td>
											  <td id="bot7_row1_pair"></td>
											  <td id="bot7_row1_position"></td>
											  <td id="bot7_row1_price"></td>
											  <td id="bot7_row1_symbol"></td>
											  <td id="bot7_row1_uuid"></td>
											  <td id="bot7_row1_status"></td>
											  
											</tr>
											<tr>
											  <td id="bot7_row2_ts_time"></td>
											  <td id="bot7_row2_amount"></td>
											  <td id="bot7_row2_api_name"></td>
											  <td id="bot7_row2_average"></td>
											  <td id="bot7_row2_balance_box_amount"></td>
											  <td id="bot7_row2_balance_box_count"></td>
											  <td id="bot7_row2_ex_id"></td>
											  <td id="bot7_row2_filled"></td>
											  <td id="bot7_row2_follow_balance_box_amount"></td>
											  <td id="bot7_row2_follow_balance_box_count"></td>
											  <td id="bot7_row2_follow_balance_box_follow_gap"></td>
											  <td id="bot7_row2_follow_balance_box_gap"></td>
											  <td id="bot7_row2_follow_balance_box_postOnly"></td>
											  <td id="bot7_row2_follow_balance_box_profit"></td>
											  <td id="bot7_row2_follow_balance_box_step"></td>
											  <td id="bot7_row2_follow_balance_box_time"></td>
											  <td id="bot7_row2_follow_track_box_amount"></td>
											  <td id="bot7_row2_follow_track_box_follow_gap"></td>
											  <td id="bot7_row2_follow_track_box_gap"></td>
											  <td id="bot7_row2_follow_track_box_postOnly"></td>
											  <td id="bot7_row2_inti_box_buy_price"></td>
											  <td id="bot7_row2_inti_box_sell_price"></td>
											  <td id="bot7_row2_order_id"></td>
											  <td id="bot7_row2_pair"></td>
											  <td id="bot7_row2_position"></td>
											  <td id="bot7_row2_price"></td>
											  <td id="bot7_row2_symbol"></td>
											  <td id="bot7_row2_uuid"></td>
											  <td id="bot7_row2_status"></td>
											</tr>
											<tr>
											  <td id="bot7_row3_ts_time"></td>
											  <td id="bot7_row3_amount"></td>
											  <td id="bot7_row3_api_name"></td>
											  <td id="bot7_row3_average"></td>
											  <td id="bot7_row3_balance_box_amount"></td>
											  <td id="bot7_row3_balance_box_count"></td>
											  <td id="bot7_row3_ex_id"></td>
											  <td id="bot7_row3_filled"></td>
											  <td id="bot7_row3_follow_balance_box_amount"></td>
											  <td id="bot7_row3_follow_balance_box_count"></td>
											  <td id="bot7_row3_follow_balance_box_follow_gap"></td>
											  <td id="bot7_row3_follow_balance_box_gap"></td>
											  <td id="bot7_row3_follow_balance_box_postOnly"></td>
											  <td id="bot7_row3_follow_balance_box_profit"></td>
											  <td id="bot7_row3_follow_balance_box_step"></td>
											  <td id="bot7_row3_follow_balance_box_time"></td>
											  <td id="bot7_row3_follow_track_box_amount"></td>
											  <td id="bot7_row3_follow_track_box_follow_gap"></td>
											  <td id="bot7_row3_follow_track_box_gap"></td>
											  <td id="bot7_row3_follow_track_box_postOnly"></td>
											  <td id="bot7_row3_inti_box_buy_price"></td>
											  <td id="bot7_row3_inti_box_sell_price"></td>
											  <td id="bot7_row3_order_id"></td>
											  <td id="bot7_row3_pair"></td>
											  <td id="bot7_row3_position"></td>
											  <td id="bot7_row3_price"></td>
											  <td id="bot7_row3_symbol"></td>
											  <td id="bot7_row3_uuid"></td>
											  <td id="bot7_row3_status"></td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							  		 
							  </div>
							  
							   <div role="tabpanel" class="tab-pane fade" id="bot8">
									
							   		<div class="table-responsive"> 
										 <table class="table table-bordered">
										  <thead>
											<tr>
												<th>Date</th>
												<th>action</th>
												<th>amount</th>
												<th>api_name</th>
												<th>average</th>
												<th>ex_id</th>
												<th>filled</th>
												<th>order_id</th>
												<th>ori_amount</th>
												<th>ori_price</th>
												<th>pair</th>
												<th>position</th>
												<th>postOnly</th>
												<th>price</th>
												<th>profit</th>
												<th>symbol</th>
												<th>timer</th>
												<th>trade_id</th>
												<th>trailing_margin</th>
												<th>uuid</th>
												<th>status</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td id="bot8_row1_update_date_time">NA</td>
											  <td id="bot8_row1_action">NA</td>
											  <td id="bot8_row1_amount">NA</td>
											  <td id="bot8_row1_api_name">NA</td>
											  <td id="bot8_row1_average">NA</td>
											  <td id="bot8_row1_ex_id">NA</td>
											  <td id="bot8_row1_filled">NA</td>
											  <td id="bot8_row1_order_id">NA</td>
											  <td id="bot8_row1_ori_amount">NA</td>
											  <td id="bot8_row1_ori_price">NA</td>
											  <td id="bot8_row1_pair">NA</td>
											  <td id="bot8_row1_position">NA</td>
											  <td id="bot8_row1_postOnly">NA</td>
											  <td id="bot8_row1_price">NA</td>
											  <td id="bot8_row1_profit">NA</td>
											  <td id="bot8_row1_symbol">NA</td>
											  <td id="bot8_row1_timer">NA</td>
											  <td id="bot8_row1_trade_id">NA</td>
											  <td id="bot8_row1_trailing_margin">NA</td>
											  <td id="bot8_row1_uuid">NA</td>
											  <td id="bot8_row1_status">NA</td>
											</tr>
											<tr>
											  <td id="bot8_row2_update_date_time">NA</td>
											  <td id="bot8_row2_action">NA</td>
											  <td id="bot8_row2_amount">NA</td>
											  <td id="bot8_row2_api_name">NA</td>
											  <td id="bot8_row2_average">NA</td>
											  <td id="bot8_row2_ex_id">NA</td>
											  <td id="bot8_row2_filled">NA</td>
											  <td id="bot8_row2_order_id">NA</td>
											  <td id="bot8_row2_ori_amount">NA</td>
											  <td id="bot8_row2_ori_price">NA</td>
											  <td id="bot8_row2_pair">NA</td>
											  <td id="bot8_row2_position">NA</td>
											  <td id="bot8_row2_postOnly">NA</td>
											  <td id="bot8_row2_price">NA</td>
											  <td id="bot8_row2_profit">NA</td>
											  <td id="bot8_row2_symbol">NA</td>
											  <td id="bot8_row2_timer">NA</td>
											  <td id="bot8_row2_trade_id">NA</td>
											  <td id="bot8_row2_trailing_margin">NA</td>
											  <td id="bot8_row2_uuid">NA</td>
											  <td id="bot8_row2_status">NA</td>
											</tr>
											<tr>
											  <td id="bot8_row3_update_date_time">NA</td>
											  <td id="bot8_row3_action">NA</td>
											  <td id="bot8_row3_amount">NA</td>
											  <td id="bot8_row3_api_name">NA</td>
											  <td id="bot8_row3_average">NA</td>
											  <td id="bot8_row3_ex_id">NA</td>
											  <td id="bot8_row3_filled">NA</td>
											  <td id="bot8_row3_order_id">NA</td>
											  <td id="bot8_row3_ori_amount">NA</td>
											  <td id="bot8_row3_ori_price">NA</td>
											  <td id="bot8_row3_pair">NA</td>
											  <td id="bot8_row3_position">NA</td>
											  <td id="bot8_row3_postOnly">NA</td>
											  <td id="bot8_row3_price">NA</td>
											  <td id="bot8_row3_profit">NA</td>
											  <td id="bot8_row3_symbol">NA</td>
											  <td id="bot8_row3_timer">NA</td>
											  <td id="bot8_row3_trade_id">NA</td>
											  <td id="bot8_row3_trailing_margin">NA</td>
											  <td id="bot8_row3_uuid">NA</td>
											  <td id="bot8_row3_status">NA</td>
											</tr>
											
										  </tbody>
										</table>
									  </div>
							   </div>
							</div>
							
