<section id="trade-info" class="row">
    <section id="log" class="col-12">
        <div class="card">
            <div class="card-header text-bold">
                <div class="input-group-text float-right">
                    <button type="button" class="btn btn-primary" id="btn-download-log">Download Log
                    </button>
                    <input id="scroll-cb" checked type="checkbox"
                           aria-label="Checkbox for following text input">
                    <span> Auto Scroll To Bottom</span>
                </div>
            </div>

            <div class="card-body">
                <div class="scroll-spy" id="trader-log" style="height: 502px">

                </div>
            </div>
        </div>
    </section>
</section>