<section id="trade-info" class="row text-light bg-dark">
    <section id="log" class="col-md-9">
        <div class="card text-light bg-dark">
            <div class="card-header text-bold">
                <span>Log Info</span>
                <div class="input-group-text float-right text-light bg-dark">
                    <button type="button" class="btn btn-primary" id="btn-download-log">Download Log
                    </button>
                    <input id="cb_show_input" type="checkbox"
                           aria-label="Checkbox for following text input">
                    <span class="text-light bg-dark"> &nbsp; Hide Input</span>
                    <span>&nbsp;&nbsp;</span>
                    <input id="scroll-cb" checked type="checkbox"
                           aria-label="Checkbox for following text input">
                    <span class="text-light bg-dark">&nbsp; Auto Scroll To Bottom</span>
                </div>
            </div>
            <div class="card-body">
                <div class="scroll-spy text-light bg-dark" id="trader-log">

                </div>
            </div>
        </div>
    </section>
    <article id="trade-order-info" class="col-sm-3 text-light bg-dark">
        <div class="card">
            <div class="card-header text-bold text-light bg-dark">
                Profit Table
            </div>
            <div class="card-body text-light bg-dark">
                <table class="table table-bordered text-light bg-dark">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 250px">Name</th>
                        <th scope="col" style="width: 250px">Profit</th>
                    </tr>
                    </thead>
                    <tbody id="body-profit-table">
                    <tr>
                        <td>price1 all limit</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price2 all limit</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price3 all market</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price4 all market</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price5 1LM-2MK (c1c2LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price6 1LM-2MK (c1c2LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price7 1LM-2MK (c1c3LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price8 1LM-2MK (c1c3LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price9 1LM-2MK (c2c3LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price10 1LM-2MK (c2c3LM)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price11 2LM-1MK (c2c3MK)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price12 2LM-1MK (c2c3MK)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price13 2LM-1MK (c1c3MK)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price14 2LM-1MK (c1c3MK)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price15 2LM-1MK (c1c2MK)</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>price16 2LM-1MK (c1c2MK)</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>