<div class="modal fade" id="supportActionModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-center text-bold">
                <h5 class="modal-title ">Menu Support Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul>
                <li><a id="action-kill-bot" class="text-primary" data-dismiss="modal" style="cursor: pointer">KILL BOT</a></li>
                <li><a id="action-open-tracking" class="text-primary" data-dismiss="modal" style="cursor: pointer">OPEN TRACKING WEB</a></li>
            </ul>
            <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>