<div class="card">
    <div class="card-header bg-warning">
        <span>
            API Name: ngocngoc.hh1
        </span>
        <p>Using Bot Zee V3</p>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">START (Time)</th>
                <th scope="col">CURRENT (Time)</th>
                <th scope="col">PNL</th>
                <th scope="col">PNL Target</th>
            </tr>
            </thead>
            <tbody>
            <tr id="base-currency">
                <th scope="row">Base Currency</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header bg-warning">
        <span>
            API Name: ngocngoc.hh1
        </span>
        <p>Using Bot Zee V3</p>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">START (Time)</th>
                <th scope="col">CURRENT (Time)</th>
                <th scope="col">PNL</th>
                <th scope="col">PNL Target</th>
            </tr>
            </thead>
            <tbody>
            <tr id="base-currency">
                <th scope="row">Base Currency</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>